.chat-page ion-header,
.chat-page ion-toolbar {

    --min-height: 3.5rem;
}

.chat-page ion-title {

    margin-left: -3.5rem;
}

.chat-page ion-title p {

    padding: 0;
    margin: 0;
}

.chat-contact {

    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.chat-contact img {

    height: 2rem;
    width: 2rem;
    border-radius: 500px;
}

.chat-contact-details {

    display: flex;
    flex-direction: column;
    margin-left: 0.5rem;
    text-align: left;
}

.chat-contact-details p {

    font-size: 0.9rem;
}

.chat-contact-details ion-text {

    font-size: 0.7rem;
    font-weight: 400;
}

.chat-bubble {

    border-radius: 5px;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 0.8rem;
    padding: 0.5rem;
    max-width: 80%;

    display: flex;
    flex-direction: row;
}

.chat-bubble:last-child {

    margin-bottom: 0.8rem;
}

.bubble-sent {

    background-color: var(--chat-bubble-sent-color);
    float: right;
}

.bubble-received {

    background-color: var(--chat-bubble-received-color);
    float: left;
}

.chat-bubble p {

    padding: 0;
    margin: 0;
}

.chat-footer {
    
    background-color: rgb(22, 22, 22);
    border-top: 1px solid rgb(47, 47, 47);
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
}

.chat-footer ion-textarea {

    background-color: rgb(31, 31, 31);
    border: 1px solid rgb(36, 36, 36);
    color: white;
    border-radius: 25px;
    padding-left: 0.5rem;
    caret-color: var(--ion-color-primary);
}

.chat-footer ion-icon {

    font-size: 1.5rem;
    margin-top: 0.2rem;
}

.chat-input-container {

    width: 70%;
    margin-right: 0.75rem;
}

.chat-send-button {

    margin: 0 !important;
    padding: 0 !important;
    position: absolute;
    right: 17px;
    margin-top: -0.2rem !important;

    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.chat-send-button ion-icon {

    color: white;
    background-color: var(--ion-color-primary);
    font-size: 1.1rem;
    border-radius: 500px;
    padding: 0.5rem;
}

.chat-time {

    color: rgb(129, 129, 129);
    font-size: 0.75rem;
    right: 0;
    bottom: 0 !important;
    margin: 0;
    padding: 0;
}